.listItem {
  display: flex;
  align-items: center;

  input {
    visibility: hidden;
    height: 0;
    width: 0;
  }

  label {
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s ease;
    user-select: none;

    &.text {
      background-color: #a8dbf3;
      padding: 8px 18px;
      border-radius: 50px;
      box-shadow: 0 0 2px 0px rgba(0, 0, 0, 0.1);
      letter-spacing: 0.15px;

      &:hover {
        background-color: #7fc6e7;
      }
    }

    &.watch {
      img {
        border-radius: 2px;
        cursor: pointer;
      }
    }

    &.watch.fade {
      opacity: 0.15;
    }
  }

  input.active {
    + label.text {
      background-color: #2f5a6e;
      color: white;

      // &:hover {
      //   background-color: #2f5a6e;
      // }
    }

    + label.watch {
      img {
        opacity: 1;
      }
    }
  }
}
