@import '../../../app.scss';

.container {
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;
  justify-content: flex-start;

  @include media('<desktop') {
    justify-content: flex-end;
  }

  button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--clr-black);
    cursor: pointer;

    svg {
      font-size: 32px;
    }

    span {
      font-family: var(--primary-font);
      font-size: 16px;
      margin-left: 8px;
    }
  }
}
