@import '../../../include-media.scss';

.menu {
  overflow-y: auto;
  overflow-x: hidden;
  width: 230px;
  padding-left: 3px;
  padding-right: 1rem;
  position: sticky;
  top: 1rem;
  align-self: flex-start;
  height: 80vh;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;

  @include media('<=800px') {
    width: 100%;
    position: relative;
    height: auto;
    padding: 0 1rem;
    top: 0;
  }

  &.active {
    transform: translateX(0);
    opacity: 1;
  }

  &.close {
    display: none;
  }

  .watchProviders {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;

    .watchProvidersTitle {
      width: 100%;
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .watchProvidersList {
      width: 100%;
      display: grid;
      gap: 12px;
      gap: 5px;
      grid-template-columns: repeat(4, 1fr);

      @include media('<=800px') {
        grid-template-columns: repeat(8, 1fr);
      }

      @include media('<=phone') {
        grid-template-columns: repeat(auto-fit, minmax(52px, 1fr));
      }
    }
  }

  .formButtons {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    row-gap: 1.5rem;

    @include media('<desktop') {
      margin-bottom: 6rem;
    }

    .btn {
      padding: 15px;
      cursor: pointer;
      border-radius: 2px;
      border: none;
      outline: none;
      color: black;
      font-size: 16px;
      letter-spacing: 0.5px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      &:active {
        transform: scale(0.97);
      }

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        svg {
          transform: scale(1.6);
          margin-right: 5px;
        }
      }

      &.submit {
        position: relative;
        background-color: var(--clr-primary);
        color: var(--text-black);
      }

      &.reset {
        background-color: rgb(235, 235, 235);
        text-align: left;
      }
    }
  }
}

.lineBreak {
  background-color: #ddd;
  height: 1px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

h3 {
  font-size: 16px;
}
