@import '../../app.scss';

.card {
  background-color: var(--bg-white);
  color: var(--clr-black);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  box-shadow: var(--box-shadow-4);
  overflow: hidden;

  .imageWrapper {
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  .details {
    padding: 25px 20px 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;

    @include media('<=phone') {
      padding: 13px;
      padding: 25px 13px 13px;
    }

    .title {
      font-weight: 600;
      font-size: 16px;

      @include media('<tablet') {
        font-size: 15px;
      }
    }

    .release {
      font-size: 14px;
      font-size: 13px;
      margin-top: 5px;
      color: var(--sub-heading);

      @include media('<=phone') {
        font-size: 13px;
      }
    }

    .voteCircle {
      position: absolute;
      top: -20px;
      left: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #081c22;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      font-size: 12px;
      color: var(--perm-white);

      @include media('<=phone') {
        left: 6px;
      }

      p {
        letter-spacing: 0px;
      }

      .percentSymbol {
        font-size: 8px;
        transform: translate(1px, -3px);
      }
    }
  }
}
