.wrapper {
  margin-bottom: 3rem;

  .header {
    display: flex;
    margin-bottom: 2.4rem;
    justify-content: center;
    align-items: center;
    // background-color: #79c4e2;

    svg {
      font-size: 20px;
      margin-right: 5px;
    }
  }

  // .range {
  // }
}
