@import '../../../app.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: hidden;
  transition: all 0.3s ease-out;
  width: 100vw;
  height: 100vh;
  opacity: 0;

  &.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;
  }
}

.menu {
  position: fixed;
  height: 100vh;
  width: 450px;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: #fafafa;
  border-radius: 2px 0 0 2px;
  padding: 5rem 2rem 2rem;
  z-index: 3;
  transform: translateX(-490px);
  transition: transform 0.55s ease;
  // scrollbar-width: none;

  @include media('<tablet') {
    transform: translateX(-110vw);
    width: 100vw;
  }

  // &::-webkit-scrollbar {
  //   display: none;
  // }

  .closeBtn {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 40px;
    opacity: 0.75;
    cursor: pointer;

    &.removePointer {
      cursor: default;
    }
  }

  .header {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 1px;
    margin-bottom: 5rem;
  }

  .form {
    .genres {
      display: flex;
      flex-direction: column;
      align-items: center;

      .genresTitle {
        width: 100%;
        margin-bottom: 1.5rem;
        text-align: center;
      }

      .genresList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px 8px;
        width: 100%;
      }
    }

    .watchProviders {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .watchProvidersTitle {
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        text-align: center;
      }

      .watchProvidersList {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 12px;

        @include media('<tablet') {
          grid-template-columns: repeat(8, 1fr);
        }

        @include media('<=phone') {
          grid-template-columns: repeat(auto-fit, minmax(52px, 1fr));
        }
      }
    }

    .formButtons {
      margin-top: 4rem;
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      row-gap: 1.5rem;

      @include media('<desktop') {
        margin-bottom: 6rem;
      }

      .btn {
        padding: 10px 20px;
        padding: 15px;
        cursor: pointer;
        border-radius: 3px;
        border: none;
        outline: none;
        color: black;
        font-size: 16px;
        transition: background-color 0.1s ease;

        // &:focus {
        //   outline: 2px solid black;
        // }

        &:hover {
          opacity: 0.85;
        }

        &:active {
          transform: scale(0.97);
        }

        &.reset {
          background-color: rgb(225, 225, 225);
          box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 10px -1px rgba(94, 94, 94, 0.8);
        }

        &.submit {
          background-color: rgb(34, 200, 136);
          box-shadow: 0 0 10px -1px rgba(62, 222, 102, 1);
        }
      }
    }
  }

  &.active {
    transform: translateX(0);
    opacity: 1;
  }
}

.lineBreak {
  background-color: #eee;
  height: 2px;
  border-radius: 10px;
  // margin-bottom: 1rem;
}
