@import '../../../app.scss';

.container {
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;

  @include media('<desktop') {
    justify-content: flex-end;
  }

  button {
    background-color: transparent;
    transform: rotate(90deg);
    border: none;
    cursor: pointer;
    color: black;

    @include media('<=phone') {
      font-size: 35px;
    }

    &.removePointer {
      cursor: default;
    }

    svg {
      font-size: 40px;
    }
  }
}
