.wrapper {
  margin-bottom: 3rem;
  padding: 0 14px;

  .header {
    display: flex;
    margin-bottom: 2.4rem;
    justify-content: center;
    align-items: center;

    .name {
      text-transform: capitalize;
    }

    svg {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}
