@import '../../include-media.scss';

.watchlist {
  max-width: var(--max-width);
  margin: 3rem auto;
  min-height: calc(100vh - 171px);

  h1 {
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    background-color: inherit;
    color: var(--clr-white);
    width: 100%;
    margin-top: 4rem;

    @include media('<1300px') {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media('<desktop') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media('<tablet') {
      grid-template-columns: repeat(2, 1fr);
      gap: 1.25rem;
    }
  }

  .emptyList {
    margin-top: 4rem;
    text-align: center;

    a {
      text-decoration: underline;
      color: var(--clr-white);
    }
  }
}
