@import '../../include-media';

.card {
  background-color: var(--bg-card);
  color: var(--primary-text);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: var(--box-shadow-4);

  .imageWrapper {
    position: relative;
    padding-top: 150%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px 3px 0 0;
    }
  }

  .details {
    padding: 28px 20px 20px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;

    @include media('<phone') {
      padding: 28px 13px 18px;
    }

    .name {
      font-weight: 600;
      font-size: 16px;

      @include media('<tablet') {
        font-size: 14px;
      }
    }

    .release {
      font-size: 13px;
      margin-top: 5px;
      color: var(--secondary-text);

      @include media('<phone') {
        font-size: 12px;
      }
    }

    .voteCircle {
      position: absolute;
      top: -20px;
      left: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #081c22;
      width: 40px;
      height: 40px;
      border-radius: 50px;
      font-size: 12px;
      color: var(--perm-white);

      @include media('<phone') {
        left: 6px;
      }

      p {
        letter-spacing: 0;
      }

      .percentSymbol {
        font-size: 8px;
        transform: translate(1px, -3px);
      }
    }

    .delete {
      background-color: transparent;
      border: none;
      color: var(--primary-text);
      font-size: 13px;
      cursor: pointer;
      padding: 5px;
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}
