@import '../../app.scss';

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: var(--box-shadow-3);
  border: 1px solid var(--clr-border);

  a {
    display: flex;
  }

  .text {
    padding: 12px;
    background-color: var(--bg-white);
    color: var(--clr-black);

    h5 {
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
