@import '../../include-media';

.card {
  width: 138px;
  background-color: var(--bg-card);
  border-radius: 3px;
  box-shadow: var(--box-shadow-3);
  border: 1px solid var(--clr-border);

  img {
    width: 100%;
    display: flex;
    border-radius: 2px 2px 0 0;
  }

  .text {
    padding: 13px 11px;

    h3 {
      font-size: 14px;
    }

    p {
      font-size: 13px;
      margin-top: 5px;
      color: var(--secondary-text);
    }
  }
}
