@import '../../include-media.scss';

.recommendations {
  max-width: var(--max-width);
  margin: 0 auto;

  .heading {
    margin-bottom: 1rem;
  }

  .recommendationsGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    overflow-x: auto;
    margin-bottom: 1.5rem;
    padding: 1px 1px 1rem;

    @include media('<=1200px') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include media('<=phone') {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
