@import '../../app.scss';

.card {
  width: 138px;
  background-color: var(--bg-dark);
  border-radius: 5px;
  box-shadow: var(--box-shadow-3);
  border: 1px solid var(--clr-border);

  img {
    width: 100%;
    border-radius: 5px 5px 0 0;
  }

  .text {
    padding: 10px;

    h5,
    p {
      font-size: 14px;
    }

    p {
      margin-top: 5px;
      color: var(--sub-heading);
      font-size: 13px;
    }
  }
}
