@import '../../app.scss';

.main {
  margin: 3rem 0;

  @include media('<=880px') {
    margin: 2rem 0;
  }

  .showcase {
    height: 600px;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);

    @include media('<tablet') {
      height: fit-content;
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.75) 0%,
        rgba(0, 0, 0, 0.75) 50%,
        rgba(0, 0, 0, 0.75) 100%
      );
    }

    .backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }

    .content {
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: center;
      column-gap: 4rem;
      z-index: 1;
      max-width: var(--max-width);
      margin: 0 auto;
      color: var(--perm-white);
      position: relative;
      height: 100%;

      @include media('<tablet') {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
      }

      .textContent {
        @include media('<tablet') {
          display: flex;
          flex-direction: column;
          padding: 2rem 0 3rem;
          width: 100vw;
        }

        .heading {
          display: flex;
          align-items: center;
          flex-wrap: wrap;

          @include media('<tablet') {
            justify-content: center;
            text-align: center;
            max-width: 95vw;
            margin: 0 auto;
          }

          h1 {
            margin-bottom: 5px;

            @include media('<tablet') {
              font-size: 26px;
            }

            span {
              font-size: 28px;
              margin-left: 10px;
              font-weight: 400;
              letter-spacing: 2px;

              @include media('<tablet') {
                display: inline-block;
                font-size: 22px;
              }
            }
          }
        }

        .tagline {
          font-size: 15px;
          font-style: italic;
          margin-bottom: 12px;

          @include media('<tablet') {
            text-align: center;
            margin-bottom: 0px;
            max-width: 95vw;
            margin: 0 auto;
          }
        }

        .row {
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          white-space: nowrap;
          margin-top: 12px;
          margin-bottom: 1rem;

          @include media('<desktop') {
            flex-direction: column;
            align-items: flex-start;
            display: flex;
          }

          @include media('<tablet') {
            align-items: center;
            margin-top: 5px;
          }

          .ratingAndRuntime {
            display: flex;
            align-items: center;

            @include media('<tablet') {
              margin: 1rem 0;
            }

            .voteCircle {
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #081c22;
              width: 55px;
              height: 55px;
              border-radius: 50px;
              font-size: 18px;

              p {
                letter-spacing: 0px;
              }

              .percentSymbol {
                font-size: 8px;
                transform: translate(1px, -3px);
              }
            }
          }

          .dot {
            height: 22px;
            margin: 0 1rem;
            width: 2px;
            border-radius: 10px;
            color: var(--clr-black);
            opacity: 0.6;
            height: 30px;

            &.dot2 {
              @include media('<desktop') {
                display: none;
              }
            }
          }
        }

        .overview {
          margin-bottom: 1rem;
          overflow-y: auto;
          padding-right: 3rem;
          font-size: 15px;
          letter-spacing: 0;

          @include media('<desktop') {
            max-height: 150px;
            padding-right: 1rem;
          }

          @include media('<tablet') {
            max-height: fit-content;
            text-align: center;
            max-width: 92vw;
            margin: 0 auto;
            padding-right: 0;
            line-height: 1.5;
            margin: 10px auto 3rem auto;
          }

          h3 {
            margin-bottom: 8px;

            @include media('<tablet') {
              margin-bottom: 5px;
            }
          }
        }

        .genres {
          display: flex;
          font-size: 15px;

          @include media('<desktop') {
            flex-wrap: wrap;
            margin-top: 1rem;
          }

          @include media('<tablet') {
            text-align: center;
            justify-content: center;
            max-width: 95vw;
            flex-wrap: wrap;
            margin-top: 5px;
          }

          :not(:last-of-type) {
            margin-right: 5px;
          }
        }

        .buttons {
          display: flex;
          align-items: center;
          column-gap: 2rem;
          margin-top: 2rem;

          @include media('<tablet') {
            margin-top: 0;
            flex-direction: column;
            row-gap: 3rem;
          }

          button {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: var(--primary-font);
            font-size: 16px;
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: var(--perm-white);
            transition: opacity 0.3s ease;
            letter-spacing: 0.5px;
            min-height: 35px;

            svg {
              width: 20px;
              height: 20px;
              margin-right: 14px;
            }

            &.trailerBtn svg {
              width: 35px;
              height: 35px;
              margin-right: 8px;
            }

            &.viewGallery {
              display: none;

              @include media('<tablet') {
                display: flex;
              }

              svg {
                width: 24px;
                height: 24px;
              }
            }

            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }

    .posterWrap {
      width: 300px;
      display: flex;
      align-items: flex-start;
      border-radius: 5px;
      position: relative;
      transition: background-color 0.3s ease;
      font-size: 20px;
      cursor: default;

      @include media('<tablet') {
        display: none;
      }

      .poster {
        transition: opacity 300ms ease;
        border-radius: 5px;
      }

      .posterText {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity 300ms ease;

        .icon {
          font-size: 25px;
        }

        span {
          margin-left: 6px;
        }
      }

      &.posterHover {
        cursor: pointer;
        background-color: black;

        &:hover {
          .poster {
            opacity: 0.25;
          }

          .posterText {
            opacity: 1;
          }
        }
      }
    }
  }
}
