.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.88);
  z-index: 2;

  i {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.6);
    padding: 10px;
    cursor: pointer;

    svg {
      cursor: pointer;
    }
  }

  .gallery {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(1px, 1760px, 85vw);
    height: clamp(1px, 990px, calc(85vw * 0.5625));
    background-color: black;
    border: none;
    box-shadow: 0 0 10px 10px black;
    pointer-events: none;
    z-index: 1000;
  }

  .closeBtn {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 60px;
    color: var(--perm-white);
    cursor: pointer;
  }
}
