@import '../../include-media';

.recommendations {
  max-width: var(--max-width);
  margin: 0 auto;

  .heading {
    margin-bottom: 1rem;
  }

  .recommendationsGrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    padding-bottom: 1rem;

    @include media('<1200px') {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @include media('<phone') {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}
