.knownFor {
  .knownForHeading {
    margin-bottom: 1rem;
  }

  .knownForGrid {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: auto;
    padding: 1px 1px 1rem;

    .knownForMedia {
      display: flex;
      flex-direction: column;
      background-color: #fff;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      width: 138px;
      border-radius: 5px;

      img {
        border-radius: 5px 5px 0 0;
      }

      .name {
        font-size: 14px;
        font-weight: 600;
        padding: 10px;
      }
    }
  }
}
