@import '../../app.scss';

.person {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  max-width: var(--max-width);
  margin: 3rem auto;

  @include media('<tablet') {
    flex-direction: column;
    margin: 2rem auto;
  }

  .column1 {
    width: 25%;
    // background-color: orange;

    @include media('<tablet') {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }

    .image {
      width: 100%;
      border-radius: 10px;

      @include media('<tablet') {
        width: 75%;
        width: clamp(1px, 75%, 400px);
        margin: 0 auto;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      // background-color: seagreen;

      @include media('<tablet') {
        width: 100%;
        margin-top: 1.5rem;
      }

      // h3 {
      //   margin-bottom: 1rem;
      //   font-size: 22px;
      // }

      .socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 24px;
        width: 150px;
        transform: translateX(-10px);
        // background-color: orange;

        @include media('<tablet') {
          justify-content: center;
          width: 100%;
          transform: translateX(0);
        }

        li {
          transition: opacity 0.3s ease;
          margin-bottom: 2rem;

          @include media('<tablet') {
            margin-bottom: 1rem;
          }

          &:hover {
            opacity: 0.6;
          }

          &:not(:first-child) {
            margin-left: 1rem;
          }

          a {
            padding: 5px 10px;
          }
        }
      }

      .personalInfoHeading {
        margin-bottom: 1rem;
        font-size: 22px;
        font-weight: 600;

        @include media('<tablet') {
          // margin: 0 auto 1rem auto;
          font-size: 20px;
          margin-top: 1rem;
        }
      }

      .personalInfo {
        // background-color: orange;
        display: flex;
        flex-direction: column;

        @include media('<tablet') {
          // align-items: center;
        }

        > * {
          &:not(:last-of-type) {
            margin-bottom: 2rem;

            @include media('<tablet') {
              margin-bottom: 1rem;
            }
          }

          @include media('<tablet') {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
          }

          h4 {
            font-weight: 600;
            margin-bottom: 3px;

            @include media('<tablet') {
              margin-bottom: 1.5px;
            }
          }

          p {
            span {
              @include media('<desktop') {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  .column2 {
    width: 75%;
    // background-color: dodgerblue;

    @include media('<tablet') {
      width: 100%;
    }

    .bioHeading {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .bio {
      line-height: 1.6;
      letter-spacing: 0;
      white-space: pre-wrap;
    }
  }

  .name {
    display: inline-block;
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 18px;
    transition: opacity 0.3s ease;
    // background-color: blue;
    // text-decoration: underline;
    // padding-bottom: 3px;
    // border-bottom: 1px solid black;

    &.nameMobile {
      display: none;

      @include media('<tablet') {
        display: inline-flex;
        margin-top: 1.5rem;
        // background-color: cadetblue;
        margin-bottom: 0;
      }
    }

    &.nameDesktop {
      margin-bottom: 2rem;

      @include media('<tablet') {
        display: none;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .line {
    width: 100%;
    background-color: #ccc;
    background-color: rgba(150, 150, 150, 0.5);
    height: 1px;
    margin-bottom: 1rem;
    border-radius: 50px;

    &.linePersonal {
      @include media('<tablet') {
        display: none;
      }
    }

    &.lineBio {
      display: none;

      @include media('<tablet') {
        display: block;
        // display: none;
        margin: 0.5rem 0 1.5rem;
      }
    }
  }
}
