@import '../../app.scss';

.person {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  max-width: var(--max-width);
  margin: 3rem auto;

  @include media('<tablet') {
    flex-direction: column;
  }

  .column1 {
    width: 25%;
    // background-color: orange;

    @include media('<tablet') {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 4rem;
    }

    img {
      width: 100%;
      border-radius: 10px;
    }

    .details {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      h3 {
        margin-bottom: 1rem;
        font-size: 22px;
      }

      .socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 24px;
        width: 150px;
        transform: translateX(-10px);

        li {
          transition: opacity 0.3s ease;

          &:hover {
            opacity: 0.6;
          }

          &:not(:first-child) {
            margin-left: 1rem;
          }

          a {
            padding: 5px 10px;
          }
        }
      }

      .line {
        width: 100%;
        background-color: #ccc;
        height: 2px;
        margin-bottom: 1rem;
        border-radius: 50px;
      }

      .birthday {
        margin-bottom: 2rem;
      }

      .deathday {
        margin-bottom: 2rem;
      }

      h4 {
        font-weight: 600;
        margin-bottom: 3px;
      }
    }
  }

  .column2 {
    width: 75%;
    // background-color: dodgerblue;

    @include media('<tablet') {
      width: 100%;
    }

    .bioHeading {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .bio {
      line-height: 1.6;
      letter-spacing: 0;
      white-space: pre-wrap;
    }
  }

  .name {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 18px;
    transition: opacity 0.3s ease;

    &.nameMobile {
      display: none;

      @include media('<tablet') {
        display: inline-block;
        margin-top: 1.5rem;
      }
    }

    &.nameDesktop {
      margin-bottom: 2rem;

      @include media('<tablet') {
        display: none;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }
}
