@import '../../app.scss';

.person {
  display: flex;
  justify-content: space-between;
  column-gap: 3rem;
  max-width: var(--max-width);
  margin: 3rem auto;

  .column1 {
    width: 25%;

    img {
      width: 100%;
      border-radius: 10px;
    }

    .details {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      h3 {
        margin-bottom: 1rem;
        font-size: 22px;
      }

      .socials {
        display: flex;
        justify-content: flex-start;
        font-size: 24px;
        width: 150px;

        > *:not(:first-child) {
          margin-left: 1.5rem;
        }
      }

      .line {
        width: 100%;
        background-color: #ccc;
        height: 2px;
        margin-bottom: 1rem;
        border-radius: 50px;
      }

      .birthday {
        margin-bottom: 2rem;
      }

      .deathday {
        margin-bottom: 2rem;
      }

      h4 {
        margin-bottom: 3px;
      }
    }
  }

  .column2 {
    width: 75%;

    .mainText {
      .name {
        margin-bottom: 1rem;
        font-size: 32px;
      }

      .bio {
        line-height: 1.6;
        letter-spacing: 0;
        white-space: pre-wrap;
      }
    }
  }
}
