@import '../include-media';

.movieCastAndCrew {
  margin: 3rem 0;

  .content {
    max-width: var(--max-width);
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .lists {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      @include media('<900px') {
        flex-direction: column;
      }
    }
  }
}
