@import '../../app.scss';

.recommendations {
  width: calc(100% - 260px);
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;

  .heading {
    margin-bottom: 1rem;
  }

  .recommendationsGrid {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: auto;
    padding: 1px 1px 1rem;
    margin-bottom: 3rem;
  }
}
