@import '../../app.scss';

.main {
  padding-bottom: 3rem;

  .showcase {
    height: 600px;
    position: relative;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.98) 0%,
      rgba(0, 0, 0, 0.75) 50%,
      rgba(0, 0, 0, 0.5) 100%
    );

    @include media('<=tablet') {
      // background: none;
      // background-color: rgba(0, 0, 0, 0.7);
    }

    @include media('<=phone') {
      height: fit-content;
      // background-color: #ccc;
    }

    .backdrop {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;

      // @include media('<=phone') {
      //   display: none;
      // }
    }

    .content {
      // position: absolute;
      padding-top: 4.6rem;
      display: grid;
      grid-template-columns: 1fr 4fr;
      align-items: flex-start;
      column-gap: 4rem;
      z-index: 1;
      max-width: var(--max-width);
      margin: 0 auto;
      color: var(--white);

      @include media('<tablet') {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .textContent {
        margin-top: 3rem;
        // background-color: purple;

        @include media('<=phone') {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 10px;
        }

        .heading {
          display: flex;
          // background-color: skyblue;

          @include media('<=tablet') {
            flex-direction: column;
            margin-bottom: 1rem;
            align-items: center;
          }

          h1 {
            margin-bottom: 5px;

            @include media('<=tablet') {
              margin-bottom: 0;
            }
          }

          span {
            font-size: 28px;
            margin-left: 10px;
            letter-spacing: 2px;

            @include media('<=tablet') {
              margin-left: 0;
            }
          }
        }

        .tagline {
          font-style: italic;
          margin-bottom: 25px;
          // background-color: seagreen;
        }

        .row {
          display: inline-flex;
          align-items: center;
          justify-content: space-between;
          white-space: nowrap;
          // background-color: firebrick;

          @include media('<=tablet') {
            flex-direction: column;
          }

          .dot {
            font-size: 28px;
          }
        }

        .voteCircle {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #081c22;
          // padding: 12px;
          width: 52px;
          height: 52px;
          border-radius: 50px;
          font-size: 18px;
          margin-bottom: 1rem;
        }

        .overview {
          margin-bottom: 1rem;
          max-height: 150px;
          overflow-y: auto;
          padding-right: 3rem;
          background-color: skyblue;

          @include media('<=tablet') {
            // max-height: fit-content;
            max-height: 100%;
          }

          h3 {
            margin-bottom: 8px;
          }
        }

        .genres {
          display: flex;

          :not(:first-of-type) {
            margin-left: 5px;
          }
        }

        .trailerBtn {
          cursor: pointer;
          font-size: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: transparent;
          border: none;
          color: var(--white);
          transition: opacity 0.3s ease;
          margin-top: 3rem;
          letter-spacing: 0.5px;
          // background-color: dodgerblue;

          svg {
            margin-right: 5px;
            font-size: 30px;
          }

          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    .posterWrap {
      width: 300px;
      display: flex;
      align-items: flex-start;
      border-radius: 5px;
      position: relative;
      transition: background-color 0.3s ease;
      font-size: 20px;
      cursor: default;

      .poster {
        transition: opacity 0.3s ease;
        border-radius: 5px;
      }

      .posterText {
        opacity: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transition: opacity 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          font-size: 25px;
        }

        span {
          margin-left: 6px;
        }
      }

      &.posterHover {
        cursor: pointer;

        &:hover {
          background-color: black;

          .poster {
            opacity: 0.3;
          }

          .posterText {
            opacity: 1;
          }
        }
      }
    }
  }
}
