.sidebar {
  width: 260px;
  display: flex;
  flex-direction: column;
  flex: 1;

  // prettier-ignore
  .socials, .status, .seasons, .episodes, .budget, .revenue, .lastAir, .network {
    margin-bottom: 1rem;
  }

  .budget p,
  .revenue p {
    letter-spacing: 0.5px;
  }

  .socials {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    width: 150px;
    transform: translateX(-10px);

    li:not(:first-child) {
      margin-left: 1.2rem;
    }

    a {
      transition: opacity 0.3s ease;
      padding: 5px 10px;

      &:hover {
        opacity: 0.6;
      }
    }
  }

  p {
    font-size: 14px;
    margin-top: 2px;
  }

  .line {
    width: 100%;
    background-color: #ccc;
    height: 2px;
    margin-bottom: 1rem;
    border-radius: 50px;
  }

  .network {
    img {
      width: 45px;
    }
  }
}
