@import '../../include-media.scss';

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.trailer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(1px, 1760px, 90vw);
  height: clamp(1px, 990px, calc(90vw * 0.5625));
  background-color: black;
  border: 5px solid #ccc;
  box-shadow: 0 0 10px 10px black;
  animation: popIn 0.6s;

  @include media('<=phone') {
    width: clamp(1px, 1760px, 82vw);
    height: clamp(1px, 990px, calc(82vw * 0.5625));
  }
}

@keyframes popIn {
  from {
    width: 0;
    height: 0;
  }
}
