.listItem {
  display: flex;

  input {
    background-color: seagreen;
    visibility: hidden;
    height: 0;
    width: 0;
    transition: all 0.6s ease;
  }

  label {
    font-size: 14px;
    cursor: pointer;
    transition: all 0.6s ease;
    user-select: none;

    &.text {
      background-color: #abe2fb;
      padding: 8px 18px;
      border-radius: 50px;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);

      &:hover {
        background-color: #7bc6e9;
      }
    }

    &.watch {
      img {
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
      }
    }

    &.watch.TERMINATE {
      opacity: 0.15;
    }
  }

  input.active {
    transition: all 0.6s ease;

    + label.text {
      background-color: #2f5a6e;
      color: white;

      &:hover {
        background-color: #2f5a6e;
      }
    }

    + label.watch {
      img {
        opacity: 1;
      }
    }
  }
}
