.header {
  display: flex;
  // text-align: center;
  margin-bottom: 3rem;
  margin-bottom: 2.5rem;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 20px;
    margin-right: 5px;
  }
}

.range {
  margin-bottom: 3rem;
}
