@import '../../app.scss';

.container {
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: -1.5rem;

  @include media('<=tablet') {
    justify-content: flex-end;
  }

  .btnWrap {
    cursor: pointer;

    &.removePointer {
      cursor: default;
    }

    .btn {
      font-size: 40px;
      transform: rotate(270deg);

      @include media('<tablet') {
        font-size: 35px;
      }
    }
  }
}
