@import '../../app.scss';

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 2;
  visibility: hidden;
  transition: all 0.5s ease;
  // background-color: orange;
  width: 100vw;
  height: 100vh;

  opacity: 0;

  .menu {
    height: 100vh;
    width: 350px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-400px);
    background-color: var(--white);
    background-color: #eee;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    border-radius: 2px 0 0 2px;
    padding: 5rem 2rem 2rem 2rem;

    @include media('<tablet') {
      transform: translateX(-110vw);
      width: 100vw;
    }

    .closeBtn {
      position: absolute;
      right: 15px;
      top: 15px;
      font-size: 40px;
      opacity: 0.75;
      cursor: pointer;

      &.removePointer {
        cursor: default;
      }
    }

    .header {
      text-align: center;
      font-weight: 700;
      font-size: 25px;
      letter-spacing: 1px;
      margin-bottom: 5rem;
    }

    .form {
      .submit {
        display: block;
        padding: 10px 20px;
        cursor: pointer;
        margin-left: 12px;
        border-radius: 2px;
        border: none;
        outline: none;
        background-color: skyblue;
        color: black;
        font-size: 13px;
        position: absolute;
        bottom: 2rem;
        border-radius: 4px;

        &:hover {
          background-color: dodgerblue;
        }

        // &:focus {
        //   outline: 2px solid black;
        // }

        &:active {
          transform: scale(0.97);
        }
      }
    }
  }

  &.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.65);
    opacity: 1;

    .menu {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
