.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2rem;

  .arrow {
    font-size: 24px;
    cursor: pointer;

    &.arrowBack {
      margin-right: 12px;
    }

    &.arrowForward {
      margin-left: 12px;
    }
  }

  .mediaPages {
    font-size: 18px;

    // @include media('<=small') {
    //   font-size: 14px;
    // }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 35px;
        margin: 0 2px;
        border: 1px solid var(--clr-elements-inverse);
        border-radius: 2px;
        box-shadow: var(--box-shadow-1);

        // @include media('<=small') {
        //   width: 25px;
        // }

        // a {
        //   display: block;
        //   width: 100%;
        //   height: 100%;
        //   padding: 8px 5px;

        //   // @include media('<=small') {
        //   //   padding: 5px;
        //   // }
        // }

        button {
          display: block;
          width: 100%;
          height: 100%;
          padding: 8px 5px;
          background-color: transparent;
          border: none;
          cursor: pointer;
          font-size: 16px;
        }

        &.activePage {
          background-color: #333;
          border-radius: 50%;

          button {
            color: #fff;
          }
        }
      }

      .dots {
        margin: 0 3px;
        font-size: 30px;
        font-weight: 500;
      }
    }
  }
}
