@import '../../include-media';

.cast {
  width: calc(100% - 260px);

  @include media('<880px') {
    width: 100%;
    margin-bottom: 2rem;
  }

  .heading {
    margin-bottom: 1rem;
  }

  .castGrid {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: auto;
    padding: 1px 1px 1rem;

    .viewMore {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      font-weight: 700;
      font-size: 14px;

      a {
        display: flex;
        align-items: center;
        color: var(--primary-text);

        svg {
          font-size: 30px;
        }
      }
    }
  }
}
