.card {
  width: 138px;
  background-color: var(--bg-dark);
  border-radius: 3px;
  box-shadow: var(--box-shadow-3);
  border: 1px solid var(--clr-border);
  overflow: hidden;

  img {
    width: 100%;
    display: flex;
  }

  .text {
    padding: 13px 10px;

    h5,
    p {
      font-size: 14px;
    }

    p {
      margin-top: 5px;
      color: var(--sub-heading);
      font-size: 13px;
    }
  }
}
