@import '../../include-media.scss';

.card {
  width: 138px;
  background-color: var(--bg-card);
  border-radius: 3px;
  box-shadow: var(--box-shadow-3);
  border: 1px solid var(--clr-border);
  overflow: hidden;

  img {
    width: 100%;
    display: flex;
  }

  .text {
    padding: 13px 11px;

    h5 {
      font-size: 14px;
    }

    p {
      margin-top: 5px;
      color: var(--secondary-text);
      font-size: 13px;
    }
  }
}
