@import '../../include-media.scss';

$breakpoint: '<1024px';

.person {
  display: flex;
  column-gap: clamp(1px, 5vw, 3.5rem);
  max-width: var(--max-width);
  margin: 3rem auto;
  min-height: calc(100vh - 150px);

  @include media($breakpoint) {
    flex-direction: column;
    margin: 2rem auto;
  }

  .column1 {
    display: flex;
    flex-direction: column;
    width: 23%;

    @include media($breakpoint) {
      max-width: 100%;
      width: 100%;
      align-items: center;
      margin-bottom: 1rem;
    }

    .carousel {
      border-radius: 8px;

      @include media($breakpoint) {
        width: clamp(1px, 75%, 400px);
      }

      > * {
        border-radius: 8px;
      }

      .image {
        width: 100%;
        border-radius: 8px;
        box-shadow: var(--box-shadow-2);
      }

      .arrowBtn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        font-size: 30px;
        cursor: pointer;
        color: #ccc;
        height: 100%;
        background-color: transparent;
        border: none;

        &:focus-visible {
          color: #2fa6ff;
          outline: none;
        }

        &:hover {
          color: white;
        }

        &.arrowLeft {
          left: 0;
        }

        &.arrowRight {
          right: 0;
        }
      }
    }

    .singleImage {
      width: 100%;
      border-radius: 8px;
      box-shadow: var(--box-shadow-2);

      @include media($breakpoint) {
        width: clamp(1px, 75%, 400px);
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      @include media($breakpoint) {
        width: 100%;
        margin-top: 1.5rem;
      }

      .socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 24px;
        width: 150px;
        transform: translateX(-10px);

        @include media($breakpoint) {
          justify-content: center;
          width: 100%;
          transform: translateX(0);
        }

        li {
          transition: opacity 0.3s ease;
          margin-bottom: 2rem;

          @include media($breakpoint) {
            margin-bottom: 1rem;
          }

          &:hover {
            opacity: 0.6;
          }

          &:not(:first-child) {
            margin-left: 1rem;
          }

          a {
            padding: 5px 10px;
            color: var(--clr-white);
          }
        }
      }

      .personalInfoHeading {
        margin-bottom: 1rem;
        font-size: 22px;
        font-weight: 600;

        @include media($breakpoint) {
          font-size: 20px;
          margin-top: 1rem;
          display: none;
        }
      }

      .personalInfo {
        display: flex;
        flex-direction: column;

        @include media($breakpoint) {
          margin-top: 1rem;
        }

        > * {
          &:not(:last-of-type) {
            margin-bottom: 2rem;

            @include media($breakpoint) {
              margin-bottom: 1rem;
            }
          }

          h4 {
            font-weight: 600;
            margin-bottom: 3px;

            @include media($breakpoint) {
              margin-bottom: 1.5px;
            }
          }

          p {
            span {
              @include media('<desktop') {
                display: block;
              }
              @include media($breakpoint) {
                display: inline;
              }
            }
          }
        }
      }
    }
  }

  .column2 {
    width: 73.5%;
    display: flex;
    flex-direction: column;

    @include media($breakpoint) {
      width: 100%;
    }

    .bioHeading {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .bio {
      line-height: 1.6;
      letter-spacing: 0;
      white-space: pre-wrap;
      margin-bottom: 2rem;

      @include media($breakpoint) {
        margin-bottom: 2.5rem;
      }
    }

    .knownFor {
      transform: translateY(1rem);

      @include media($breakpoint) {
        transform: translateY(0);
      }

      .knownForHeading {
        margin-bottom: 1rem;
        font-weight: 600;
      }

      .knownForGrid {
        position: relative;
        display: grid;
        grid-auto-flow: column;
        justify-content: flex-start;
        gap: 1rem;
        overflow-x: auto;
        padding: 1px 1px 1rem;

        .knownForMedia {
          display: flex;
          flex-direction: column;
          background-color: var(--bg-dark);
          width: 145px;
          border-radius: 5px;
          box-shadow: var(--box-shadow-3);
          border: 1px solid var(--clr-border);

          @include media($breakpoint) {
            width: 138px;
          }

          img {
            border-radius: 5px 5px 0 0;
            display: flex;
          }

          .mediaInfo {
            padding: 14px 10px 10px 10px;
            min-height: 65px;
            color: var(--clr-white);
            overflow: hidden;

            .title {
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 5px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3; /* number of lines to show */
              line-clamp: 3;
              -webkit-box-orient: vertical;
            }

            .year {
              font-size: 13px;
              color: var(--sub-heading);
            }
          }
        }
      }
    }
  }

  .name {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 18px;
    transition: opacity 0.3s ease;
    color: var(--clr-white);

    &.nameMobile {
      display: none;

      @include media($breakpoint) {
        display: inline-flex;
        margin-top: 1.5rem;
        margin-bottom: 0;
      }
    }

    &.nameDesktop {
      margin-bottom: 2rem;

      @include media($breakpoint) {
        display: none;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .line {
    width: 100%;
    background-color: rgba(150, 150, 150, 0.5);
    height: 1px;
    margin-bottom: 1rem;
    border-radius: 50px;

    &.linePersonal {
      @include media($breakpoint) {
        display: none;
      }
    }

    &.lineBio {
      display: none;

      @include media($breakpoint) {
        display: block;
        margin: 0.5rem 0 1.5rem;
      }
    }
  }
}
