.nav {
  background-color: #333;
}

.header {
  padding: 15px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: clamp(1px, 1440px, 92vw);
  margin: 0 auto;

  a {
    font-size: 18px;
    color: white;
    border-radius: 2px;
    padding: 10px;
    margin: 0 5px;
  }
}
