@import '../app.scss';

.nav {
  padding: 15px;
  height: 80px;
  background-color: var(--dark-grey);

  .navContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;

    .links {
      display: flex;
      align-items: center;

      a {
        border-bottom: 2px solid transparent;
        // background-color: black;
      }

      .active {
        border-bottom: 2px solid orange;
      }
    }

    .form {
      display: flex;
      align-items: center;

      .search {
        --size: 40px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 50px;
        height: var(--size);

        i {
          display: flex;
          justify-content: center;
          align-items: center;
          // background-color: orange;
          margin-left: 3px;
          border-radius: 50px;
          border: none;
          height: calc(var(--size) - 5px);
          width: calc(var(--size) - 5px);
        }

        input {
          font-size: 17px;
          outline: none;
          border: none;
          border-radius: 50px;
          height: 100%;
          // padding: 0 15px;
          // background-color: skyblue;
        }
      }

      .submit {
        padding: 8px 15px;
        cursor: pointer;
        margin-left: 6px;
        border-radius: 3px;
        border: none;
        outline: none;
      }
    }
  }

  a {
    font-size: 18px;
    color: var(--white);
    border-radius: 2px;
    padding: 10px 0;

    &:last-of-type {
      margin-left: 30px;
    }
  }
}
