@import '../../app.scss';

$breakpoint: '<1025px';

.person {
  display: flex;
  column-gap: clamp(1px, 5vw, 3.5rem);
  max-width: var(--max-width);
  margin: 3rem auto;

  @include media($breakpoint) {
    flex-direction: column;
    margin: 2rem auto;
  }

  .column1 {
    display: flex;
    flex-direction: column;
    max-width: 23%;

    @include media($breakpoint) {
      max-width: 100vw;
      width: 100%;
      align-items: center;
      margin-bottom: 1rem;
    }

    .image {
      width: 100%;
      border-radius: 8px;
      box-shadow: 1px 0 10px 1px rgba(150, 150, 150, 0.5);

      @include media($breakpoint) {
        width: 75%;
        width: clamp(1px, 75%, 400px);
        margin: 0 auto;
      }
    }

    .details {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;

      @include media($breakpoint) {
        width: 100%;
        margin-top: 1.5rem;
      }

      .socials {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 24px;
        width: 150px;
        transform: translateX(-10px);

        @include media($breakpoint) {
          justify-content: center;
          width: 100%;
          transform: translateX(0);
        }

        li {
          transition: opacity 0.3s ease;
          margin-bottom: 2rem;

          @include media($breakpoint) {
            margin-bottom: 1rem;
          }

          &:hover {
            opacity: 0.6;
          }

          &:not(:first-child) {
            margin-left: 1rem;
          }

          a {
            padding: 5px 10px;
          }
        }
      }

      .personalInfoHeading {
        margin-bottom: 1rem;
        font-size: 22px;
        font-weight: 600;

        @include media($breakpoint) {
          font-size: 20px;
          margin-top: 1rem;
          display: none;
        }
      }

      .personalInfo {
        display: flex;
        flex-direction: column;

        @include media($breakpoint) {
          margin-top: 1rem;
        }

        > * {
          &:not(:last-of-type) {
            margin-bottom: 2rem;

            @include media($breakpoint) {
              margin-bottom: 1rem;
            }
          }

          h4 {
            font-weight: 600;
            margin-bottom: 3px;

            @include media($breakpoint) {
              margin-bottom: 1.5px;
            }
          }

          p {
            span {
              @include media('<desktop') {
                display: block;
              }
              @include media($breakpoint) {
                display: inline;
              }
            }
          }
        }
      }
    }
  }

  .column2 {
    width: 73.5%;
    // width: 75%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // min-height: 850px;

    @include media($breakpoint) {
      width: 100%;
    }

    .bioHeading {
      font-weight: 600;
      margin-bottom: 10px;
    }

    .bio {
      line-height: 1.6;
      letter-spacing: 0;
      white-space: pre-wrap;
      margin-bottom: 3rem;

      @include media($breakpoint) {
        margin-bottom: 2.5rem;
      }
    }
  }

  .name {
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
    font-size: 18px;
    transition: opacity 0.3s ease;

    &.nameMobile {
      display: none;

      @include media($breakpoint) {
        display: inline-flex;
        margin-top: 1.5rem;
        margin-bottom: 0;
      }
    }

    &.nameDesktop {
      margin-bottom: 2rem;

      @include media($breakpoint) {
        display: none;
      }
    }

    &:hover {
      opacity: 0.6;
    }
  }

  .line {
    width: 100%;
    background-color: rgba(150, 150, 150, 0.5);
    height: 1px;
    margin-bottom: 1rem;
    border-radius: 50px;

    &.linePersonal {
      @include media($breakpoint) {
        display: none;
      }
    }

    &.lineBio {
      display: none;

      @include media($breakpoint) {
        display: block;
        margin: 0.5rem 0 1.5rem;
      }
    }
  }
}

.knownFor {
  transform: translateY(1rem);

  @include media($breakpoint) {
    transform: translateY(0);
  }

  .knownForHeading {
    margin-bottom: 1rem;
    font-weight: 600;
  }

  .knownForGrid {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-start;
    gap: 1rem;
    overflow-x: auto;
    padding: 1px 1px 1rem;

    .knownForMedia {
      display: flex;
      flex-direction: column;
      background-color: var(--bg-white);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      width: 138px;
      border-radius: 5px;
      outline: 1px solid #e3e3e3;

      img {
        border-radius: 5px 5px 0 0;
      }

      .title {
        min-height: 65px;
        font-size: 14px;
        font-weight: 600;
        padding: 10px;
        color: var(--sub-heading);
        letter-spacing: 0;
      }
    }
  }
}
