@import '../../app.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  gap: 2rem;
  background-color: #f5f5f7;
  max-width: var(--max-width);
  margin: 3rem auto;

  @include media('<desktop') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media('<tablet') {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
}
