@import '../../app.scss';

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  gap: 2rem;
  background-color: inherit;
  color: var(--clr-white);
  max-width: var(--max-width);
  margin: 2rem auto 3rem;

  @include media('<desktop') {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media('<tablet') {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }

  &.2 {
    @include media('>=desktop') {
      grid-template-columns: repeat(4, 1fr);
    }
    @include media('<desktop') {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &.1 {
    grid-template-columns: clamp(1px, 350px, 50%);

    @include media('<=phone') {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
