@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import '~react-image-gallery/styles/scss/image-gallery.scss';
@import './include-media.scss';

:root {
  --max-width: clamp(1px, 1440px, 92vw);
  --dark-grey: #222;
  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  //
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fbfbfd;
  background-color: #f5f5f7;
  letter-spacing: 0.25px;
  //
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
