@import '../../app.scss';

.card {
  background-color: var(--bg-dark);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: var(--box-shadow-4);
  min-width: 0;

  .imageWrapper {
    display: flex;

    img {
      border-radius: 5px 5px 0 0;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 25px 20px 20px;

    .name {
      font-size: 16px;
      font-weight: 600;
    }

    ul {
      font-weight: 300;
      margin-top: 1rem;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
