.card {
  background-color: var(--bg-dark);
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  box-shadow: var(--box-shadow-4);
  min-width: 0;
  overflow: hidden;

  .imageWrapper {
    position: relative;
    padding-top: 150%;

    img {
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 24px 20px 20px;

    .name {
      font-size: 16px;
      font-weight: 600;
    }

    ul {
      font-weight: 300;
      margin-top: 16px;
      font-size: 14px;
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      li {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
