@import '../../include-media';

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 2.5rem;

  @include media('<tablet') {
    transform: scale(0.9);
  }

  button {
    display: flex;
    color: var(--primary-text);
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    transition: 250ms;

    &.arrow {
      font-size: 24px;
      padding: 8px 10px;
      margin: 0 3px;

      &.disabled {
        &:hover {
          background-color: inherit;
          border: 1px solid transparent;
          opacity: inherit;
          cursor: default;
        }
      }
    }

    &:hover {
      opacity: 0.75;
    }
  }

  .mediaPages {
    font-size: 18px;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;
      column-gap: 3px;

      li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 42px;
        height: 42px;
        border-radius: 2px;

        button {
          display: block;
          width: 100%;
          height: 100%;
          font-size: 16px;
          padding: 8px 5px;
        }

        &.activePage {
          button {
            background-color: var(--bg-card);
            color: var(--primary-text);
            border: 1px solid var(--clr-border);
            cursor: default;

            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
