@import '../../include-media';

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-card);
  color: var(--primary-text);
  border-radius: 3px;
  box-shadow: var(--box-shadow-4);
  min-width: 0;

  .imageWrapper {
    position: relative;
    padding-top: 150%;

    img {
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 3px 3px 0 0;
    }
  }

  .details {
    display: flex;
    flex-direction: column;
    padding: 22px 20px 20px;

    @include media('<phone') {
      padding: 20px 16px 20px;
    }

    .name {
      font-size: 16px;
      font-weight: 600;

      @include media('<phone') {
        font-size: 15px;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
      font-size: 14px;
      margin-top: 16px;
      color: var(--secondary-text);

      @include media('<phone') {
        font-size: 13px;
      }

      li {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }
  }
}
