.footer {
  height: 75px;
  background-color: var(--nav-footer);
  box-shadow: var(--box-shadow-1);

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: var(--max-width);
    height: 100%;
    margin: 0 auto;
    color: var(--perm-white);
    line-height: 1.5;

    p {
      color: var(--primary-text);
      font-size: 15px;
      letter-spacing: 0.5px;
    }

    img {
      width: 90px;
      margin-left: 6px;
    }
  }
}
