@import '../../include-media.scss';

.btn {
  display: flex;
  font-size: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include media('>=desktop') {
    display: none;
  }

  svg {
    color: var(--primary-text);
  }
}
