@import '../../include-media';

@mixin delayTransition {
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      transition-delay: #{240 + $i * 12}ms;
    }
  }
}

@mixin transformTransition {
  @for $i from 1 through 6 {
    &:nth-child(#{$i}) {
      transform: translateX(#{$i * 3}px);
    }
  }
}

$transition-duration: 400ms;

.menuWrap {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;

  @include media('>=desktop') {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    transition: all $transition-duration;
    background-color: rgba(0, 0, 0, 0.88);

    &.active {
      visibility: visible;
      opacity: 1;

      .overlay {
        transform: translateX(0);

        .linksWrap {
          .links {
            li {
              opacity: 1;
              @include delayTransition;
              @for $i from 1 through 6 {
                &:nth-child(#{$i}) {
                  transform: translateX(0);
                }
              }
            }
          }
        }
      }
    }

    .overlay {
      background-color: #3a4146;
      height: 100vh;
      width: 220px;
      transform: translateX(220px);
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 20px;
      transition: all $transition-duration;

      @include media('<500px') {
        width: clamp(160px, 50vw, 100%);
        transform: translateX(clamp(160px, 50vw, 100%));
      }

      .closeBtn {
        padding: 10px;
        cursor: pointer;
        border: none;
        color: white;
        align-self: flex-end;
        background-color: transparent;
        margin-top: -15px;
        margin-right: clamp(1px, 1.3vw, 20px);

        svg {
          font-size: 42px;
        }
      }

      .linksWrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        opacity: 1;
        align-self: flex-start;
        margin-left: 25px;

        .links {
          display: flex;
          flex-direction: column;
          font-size: 18px;
          row-gap: 10px;

          .authLi {
            width: 0;
          }

          li {
            @include transformTransition();
            display: flex;
            align-items: center;
            opacity: 0;
            transition: all $transition-duration;

            a {
              display: flex;
              align-items: center;
              align-self: flex-start;

              svg {
                margin-right: 10px;
              }
            }
          }
        }

        li {
          list-style: none;
          color: var(--perm-white);

          a {
            text-decoration: none;
            color: inherit;
            transition: all $transition-duration;
            padding: 15px 15px 15px 0;

            &:hover {
              opacity: 0.5;
            }
          }
        }

        .auth {
          padding: 8px 15px;
          cursor: pointer;
          background-color: var(--clr-primary);
          color: white;
          border: none;
          border-radius: 3px;
          font-size: 16px;
          transition: opacity $transition-duration ease-out;
          letter-spacing: 0;
          font-family: inherit;
          margin-top: 7px;

          &:hover {
            opacity: 0.9;
          }
        }

        .theme {
          border: none;
          background-color: transparent;
          font-size: 36px;
          display: flex;
          cursor: pointer;
          color: var(--perm-white);
          margin-top: 15px;
        }
      }
    }
  }
}
