@import '../../app.scss';

.menuWrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @include media('>=desktop') {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    .overlay {
      background-color: rgba(0, 0, 0, 0.82);
      width: 200vw;
      height: 200vw;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;
      transform: scale(0);
      transition: all 0.4s ease;
      border-radius: 50%;

      .linksWrap {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;

        .links {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;
        }

        li {
          list-style: none;
          color: var(--text-white);
          padding: 10px;
          // background-color: skyblue;

          a {
            text-decoration: none;
            color: inherit;
            transition: color 0.4s ease;
            padding: 15px;

            &:hover {
              color: orange;
            }
          }
        }

        .auth {
          padding: 8px 15px;
          cursor: pointer;
          background-color: #ffc107;
          color: var(--clr-black);
          border: none;
          outline: 1px solid transparent;
          border-radius: 3px;
          font-size: 12px;
          transition: all 350ms ease-out;
          letter-spacing: 0;
          font-family: inherit;

          &:hover {
            background-color: transparent;
            color: var(--text-white);
            outline: 1px solid #ffc107;
          }
        }
      }
    }

    &.active {
      visibility: visible;

      .overlay {
        transform: scale(1);
        transform: scale(1.5);
        transition-duration: 0.75s;

        .linksWrap {
          opacity: 1;
          transition: opacity 0.4s ease 0.1s;
          line-height: 1.6;
        }
      }
    }
  }
}
