@import '../../include-media.scss';

:root {
  --primary-color: rgba(13, 110, 139, 0.75);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(24, 39, 51, 0.85);
  --overlay-color: rgba(0, 0, 0, 0.82);
  --menu-speed: 0.75s;
}

.menuWrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  @include media('>=tablet') {
    display: none;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &.active {
      visibility: visible;

      > div {
        transform: scale(1);
        transform: scale(1.5);
        transition-duration: var(--menu-speed);
      }

      > div > div {
        opacity: 1;
        transition: opacity 0.4s ease 0.1s;
        line-height: 1.6;
      }
    }

    > div {
      background: var(--overlay-color);
      width: 140vw;
      height: 140vw;
      display: flex;
      flex: none;
      align-items: center;
      justify-content: center;

      transform: scale(0);
      transition: all 0.4s ease;
      border-radius: 50%;

      > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity 0.4s ease;

        > ul > li {
          list-style: none;
          color: #fff;
          padding: 1rem;

          a {
            text-decoration: none;
            color: inherit;
            transition: color 0.4s ease;

            &:hover {
              color: var(--secondary-color);
            }
          }
        }
      }
    }
  }
}
