@import '../../app.scss';

.nav {
  padding: 15px;
  background-color: var(--dark-grey);
  box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.6);
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;

  .logo {
    width: 30px;
  }

  .links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;

    a {
      border-bottom: 2px solid transparent;
      transition: opacity 0.3s ease;
      font-size: 18px;
      color: var(--text-white);
      padding: 10px 0;

      &:last-of-type {
        margin-left: 30px;
      }

      &:hover {
        opacity: 0.75;
      }
    }

    .active {
      border-bottom: 2px solid orange;

      &:hover {
        opacity: 1;
      }
    }

    @include media('<desktop') {
      display: none;
    }
  }

  .search {
    // background-color: var(--bg-white);
    // color: var(--clr-black);

    border-radius: 3px;
    height: 40px;
    width: 450px;
    width: clamp(240px, 30vw, 450px);
    position: relative;

    @include media('<desktop') {
      display: flex;
      justify-content: flex-end;
    }

    input {
      // background-color: var(--bg-white);
      // background-color: white;
      color: black;
      position: absolute;
      left: 0;
      top: 0;
      font-size: 17px;
      outline: none;
      border: none;
      border-radius: 3px;
      height: 100%;
      width: 100%;
      padding: 0 2.5rem;

      &::placeholder {
        font-size: 15px;
        color: black;
        opacity: 0.6;
      }

      &::-webkit-input-placeholder {
        opacity: 0.6;
        color: black;
      }
    }

    .magnify,
    .clear {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: none;
      z-index: 1;
    }

    .magnify {
      left: 12px;
      height: 18px;
      width: 18px;
      color: black;
    }

    .clear {
      right: 12px;
      height: 20px;
      width: 20px;
      cursor: pointer;
      color: #333;
    }
  }

  .watchlistAndAuth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
    flex-grow: 1;
    flex-basis: 0;

    @include media('<desktop') {
      display: none;
    }

    .theme {
      border: none;
      color: var(--clr-black);
      color: white;
      background-color: transparent;
      font-size: 20px;
      display: flex;
      cursor: pointer;
    }

    .watchlist {
      color: var(--text-white);
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }

    .auth {
      padding: 8px 15px;
      cursor: pointer;
      background-color: #ffc107;
      color: var(--clr-black);
      color: black;
      border: none;
      outline: 1px solid transparent;
      border-radius: 3px;
      font-size: 15px;
      transition: all 350ms ease-out;
      letter-spacing: 0;
      font-family: inherit;

      &:hover {
        background-color: transparent;
        color: var(--text-white);
        outline: 1px solid #ffc107;
      }
    }
  }
}
