@import '../../include-media.scss';

.nav {
  padding: 15px;
  background-color: var(--nav-footer);
  color: var(--primary-text);
  box-shadow: var(--box-shadow-1);
  position: relative;

  @include media('<desktop') {
    position: sticky;
    top: 0;
    z-index: 2;
    opacity: 0.97;
  }

  a,
  svg {
    color: var(--primary-text);
  }

  .magnify,
  .clear {
    color: var(--perm-black);
  }

  .auth {
    color: var(--alternate-text);
  }
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
  margin: 0 auto;
  position: relative;

  .logo {
    width: 30px;
  }

  .links {
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-basis: 0;

    a {
      border-bottom: 2px solid transparent;
      transition: opacity 0.3s ease;
      font-size: 18px;
      padding: 10px 0;

      &:not(:last-of-type) {
        margin-right: 30px;
      }

      &:hover {
        opacity: 0.75;
      }
    }

    .active {
      border-bottom: 2px solid var(--clr-primary);

      &:hover {
        opacity: 1;
      }
    }

    @include media('<desktop') {
      display: none;
    }
  }

  .search {
    border-radius: 3px;
    height: 40px;
    width: clamp(240px, 30vw, 450px);
    position: relative;

    @include media('<desktop') {
      display: flex;
      justify-content: flex-end;
    }

    input {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 17px;
      border: 1px solid var(--clr-border);
      border-radius: 3px;
      height: 100%;
      width: 100%;
      padding: 0 2.5rem;

      &::placeholder {
        font-size: 15px;
        color: black;
        opacity: 0.6;
      }

      &::-webkit-input-placeholder {
        opacity: 0.6;
        color: black;
      }
    }

    .magnify,
    .clear {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: none;
      z-index: 1;

      svg {
        color: var(--perm-black);
      }
    }

    .magnify {
      left: 12px;

      svg {
        height: 18px;
        width: 18px;
      }
    }

    .clear {
      right: 12px;
      cursor: pointer;
      background-color: transparent;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .watchlistAndAuth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 2rem;
    flex-grow: 1;
    flex-basis: 0;

    @include media('<desktop') {
      display: none;
    }

    .theme {
      border: none;
      background-color: transparent;
      font-size: 20px;
      display: flex;
      cursor: pointer;
    }

    .watchlist {
      display: flex;
      align-items: center;

      svg {
        margin-right: 5px;
      }
    }

    .auth {
      padding: 8px 15px;
      cursor: pointer;
      background-color: var(--clr-primary);
      border: none;
      border: 1px solid transparent;
      border-radius: 3px;
      font-size: 15px;
      transition: opacity 350ms ease-out;
      letter-spacing: 0;
      font-family: inherit;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
