@import '../../app.scss';

.nav {
  padding: 15px;
  background-color: var(--dark-grey);
  // box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 12px -1px rgba(0, 0, 0, 0.6);

  .navContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
    position: relative;

    .links {
      display: flex;
      align-items: center;

      a {
        border-bottom: 2px solid transparent;
        transition: opacity 0.3s ease;
        font-size: 18px;
        color: var(--white);
        padding: 10px 0;

        &:last-of-type {
          margin-left: 30px;
        }

        &:hover {
          opacity: 0.75;
        }
      }

      .active {
        border-bottom: 2px solid orange;

        &:hover {
          opacity: 1;
        }
      }

      @include media('<=phone') {
        display: none;
      }
    }

    .form {
      display: flex;
      align-items: center;

      @include media('<=phone') {
        width: 100%;
      }

      .search {
        background-color: var(--white);
        border-radius: 5px;
        height: 40px;
        width: 300px;
        position: relative;

        @include media('<=phone') {
          width: 240px;
          display: flex;
          justify-content: flex-end;
        }

        input {
          position: absolute;
          left: 0;
          top: 0;
          font-size: 17px;
          outline: none;
          border: none;
          border-radius: 5px;
          height: 100%;
          padding-left: 40px;

          &::placeholder {
            font-size: 15px;
            color: black;
            opacity: 0.6;
          }

          &::-webkit-input-placeholder {
            opacity: 0.6;
            color: black;
          }

          @include media('<tablet') {
            width: 100%;
          }
        }

        .magnify,
        .clear {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          border: none;
          z-index: 1;
        }

        .magnify {
          left: 12px;
          height: 18px;
          width: 18px;
        }
        .clear {
          right: 12px;
          height: 20px;
          width: 20px;
          cursor: pointer;
          color: #333;
        }
      }

      .submit {
        padding: 8px 15px;
        cursor: pointer;
        margin-left: 12px;
        border-radius: 2px;
        border: none;
        outline: none;
        background-color: #eee;
        color: black;
        font-size: 13px;
        display: none;

        &:hover {
          background-color: #ddd;
        }

        &:focus {
          outline: 2px solid #999;
        }

        &:active {
          transform: scale(0.97);
        }
      }
    }
  }
}
